.hero {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url("../pictures/bamboo.jpg");
    backdrop-filter: blur(0.5px);
    
    
}

.color {
    color:white;
    
}
.color2 {
    color:white;
    font-family: 'Courier New';
  font-size: 35px;
}

.centers {
    
  margin: auto;
  width: 80%;
  padding-top: 80px;
  padding-bottom: 280px;
}
.button {
    padding-top: 20px;
}

.name {
    padding-top: 110px;
  padding-bottom: 10px;
  font-family: 'Courier New';
  font-size: 60px;
  
}